.forums-content-container * {
    box-sizing: border-box;
}

.forums-content-container {
    width: 100%;
}

.forums-content-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.forums-content-container ul li {
    width: 100%;
}

.forums-content-container ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    width: 100%;
}

.forums-content-container ul li a:hover {
    background-color: blue;
    color: white;
}

.forums-content-container ul ul {
    padding-left: 30px;
}
